body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  filter: drop-shadow(3px 3px 5px red);
}
/* La sombra sobre la imagen , no sobre la caja del contenedor */
