body{
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
}


.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid orange;
}

.box:nth-of-type(n + 5){
    background-color: purple;
}

/* En este caso, empezaría a contar desde el 5, porque box-12 es la primera siempre será la primera coincidencia */