body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  border: 1px solid lightcoral;
}

.item {
  width: 200px;
  height: 200px;
  background-color: lightcoral;
  border: 3px solid lightseagreen;
  font-size: 8rem;
  line-height: 200px;
  text-align: center;
}

/* span {
  display: inline-flex;
}

.span::before {
  content: url(/assets/images/pikachu35x35.png);
} */