body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}

.list {
  list-style-type: upper-roman;
}

/* 
Valores numéricos:
decimal
decimal-leading-zero
lower-roman
upper-roman
armenian
georgian
*/