body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}

/* 
.form__input:checked + .form__label {
    color: red;
}
Cambie el color del form__label(las palabras) */

.form__input {
  accent-color: lightcoral;
}