body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  filter: sepia(50%)
}
/* Le da una tonalidad sepia a la imagen, algo más cálido, tirando a amarillo */


.image:hover {
  filter: sepia(0)