body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 100px);

  
  grid-auto-rows: 200px;
  gap: 1rem;
  border: 2px solid royalblue;
}

.item {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(even) {
  background-color: lightcoral;
}
.item:nth-child(odd) {
  background-color: lightseagreen;
}