body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
  margin: 0;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;

  /* auto-fit: Expande o hace saltar de línea los items en función del espacio disponible. */
  grid-template-columns: repeat(auto-fit, 200px);
  /* gap: 1rem;
  border: 2px solid royalblue; */
}

.item {
  font-size: 1.4rem;
}

.item:nth-child(even) {
  background-color: lightcoral;
}
.item:nth-child(odd) {
  background-color: lightseagreen;
}