body{
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
}


.text::first-letter{
    color: lightgreen;
    font-size: 3rem;
    font-family: serif;
    line-height: .5em;
    margin-right: .2em;
}

/* Estamos limitados a los estilos que podemos dar */