body{
    background-color: #333;
}

.box{
    width: 500px;
    height: 500px;
    background-color: lightcoral;
    background-image: url(/assets/images/dorian.jpg);
    background-repeat: no-repeat;
    background-position: 100px 100px;

    /* background-position: center right; */

    /* Se puede utilizar valores negativos también */
    /* background-position: -100px -100px; */

    
}

/* En background-position: Utilizar número en los dos valores,
o utilizar palabras en los dos valores, pero no mezclar. */