body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;

  /* fr: Esta medida sirve para que le navegador calcule automáticamente la medida de los grid-tracks, es decir, que no se desborda porque incluye el espacio que hemos hecho de gap: rem. */
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 200px 300px;
  gap: 1rem;
  border: 2px solid royalblue;
}

.item {
  font-size: 2rem;
}

.item:nth-child(1) {
  background-color: lightcoral;
}
.item:nth-child(2) {
  background-color: lightseagreen;
}
.item:nth-child(3) {
  background-color: limegreen;
}
.item:nth-child(4) {
  background-color: darkgoldenrod;
}
.item:nth-child(5) {
  background-color: darkorchid;
}
.item:nth-child(6) {
  background-color: darkolivegreen;
}