body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

.image {
  max-width: 100%;
  filter: invert(1) sepia(1) saturate(300) hue-rotate(100deg);
}