body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

.box {
  columns: 3 200px;
}
/* shorthand de column-count y column-width */