body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 100px;
  grid-template-rows: repeat(3, 100px);
  gap: 1rem;
  border: 2px solid royalblue;
}

.item {
  font-size: 2rem;
}

.item:nth-child(even) {
  background-color: lightcoral;
}
.item:nth-child(odd) {
  background-color: lightseagreen;
}

/* Con el span puedo ocupar en este caso, 3 columnas, porque empieza desde la línea del HTML, la línea 1. */
.item:first-child {
  grid-column: span 3;
  
}