body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  filter: grayscale(0.3)
}
/* Para escala de gris,
los valores se mueven entre 0 hasta el 1, ejemplo: .5 */

.image:hover {
  filter: grayscale(0)
}