body{
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
}

a {
    color: inherit;
    margin-right: 1em;
}

.text {
    position: absolute;
    opacity: 0;
}

.text:target{
    opacity: 1;
}