body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  filter: invert(1)
}
/* Se invierten los colores */

.image:hover {
  filter: invert(0)
}