body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}

.list {
  list-style-position: inside;
}

/* Esta propiedad tiene los valores outside e inside, y sólo se aprecia si el elemento de lista tiene más de una línea de contenido. */