body{
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
}


.box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid orange;
}

.box:nth-of-type(-n + 5){
    background-color: purple;
}

/* En este caso, selecciona todos los elementos HASTA al 5 */