
body{
    background-color: #333;
    margin: 0;
    font-family: sans-serif;
}

.box{
    width: 500px;
    height: 500px;
    padding: 60px;
    box-sizing: border-box;
    border: 15px dashed lightseagreen;
    background-repeat: no-repeat;
    background-image: url(/assets/images/dorian.jpg);

    /* Este es el valor por defecto */
    background-origin: padding-box;
}