body{
  margin: 0;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  filter: brightness(.5);
}
/* Para brillo */

.image:hover {
  filter: brightness();
}