body{
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
}
* {
  box-sizing: border-box;
}

.container {
  display: grid;

  /* Establecemos el ancho de la celda */
  grid-template-columns: 100px 200px 300px;

  /* Establecemos el alto de la celda */
  grid-template-rows: 100px 200px 300px;
  border: 2px solid royalblue;
}

.item {
  font-size: 2rem;
}

.item:nth-child(1) {
  background-color: lightcoral;
}
.item:nth-child(2) {
  background-color: lightseagreen;
}
.item:nth-child(3) {
  background-color: limegreen;
}
.item:nth-child(4) {
  background-color: darkgoldenrod;
}
.item:nth-child(5) {
  background-color: darkorchid;
}
.item:nth-child(6) {
  background-color: darkolivegreen;
}
.item:nth-child(7) {
  background-color: pink;
}